// Ajustement specifique pour la page. Fine-tuning here

#banner {
  background-image: image-url("banner.jpeg");
  padding: 150px 50px;
  color:$yellow;
  h1 {
  font-size:90px;
  letter-spacing: -13px;
  Font-family:$Interstate-R;
}
}

#usp {
	h2{
  Font-family:$Interstate-R;
  font-size:40px;
  }
}

.bg-blue {
  background-color: $yellow;
  padding: 150px 50px;
  h2{
  Font-family:$Interstate-R;
  }
}

#newsletter {
  padding: 100px 0px;
} 

.testimonial {
  background:white;
  padding: 40px;
  margin: 10px;
  box-shadow: 1px 1px 3px rgb(206, 204, 204);

  img {
  width: 160px;
  height:160px;
  margin: 0 auto;
  }

}