// Ajustement specifique pour la page. Fine-tuning here

#banner {
  background-image: image-url("banner.jpeg");
  padding: 100px 50px;
  color:$yellow;
  h1 {
  font-size:90px;
  letter-spacing: -12px;
  Font-family:$Interstate-R;
  }
}

.chevron {
  i {
  position: relative;
  font-size: 50px;
  width: 100px;
  text-align: center;
  top: 60px;
  color: $green;
  }
}


#usp {
	h2{
  Font-family:$Interstate-R;
  font-size:40px;
  }
}

.bg-blue {
  background-color: $yellow;
  padding: 100px 50px;
  h2{
  Font-family:$Interstate-R;
  }
}

#newsletter {
  padding: 80px 0px;
} 

.testimonial {
  background:white;
  padding: 40px;
  margin: 10px;
  box-shadow: 1px 1px 3px rgb(206, 204, 204);
 
  img {
  width: 160px;
  height:160px;
  margin: 0 auto;
  }

}