---
title: Meet our team
---



<div class="text-center padded">

	<h1>Our Team</h1>

<ul class="list-inline">
	<li>
		<img src="http://lorempixel.com/c/200/200/people/" alt="" class="img-circle">
		<h3>Peter</h3>
	</li>
	<li>
		<img src="http://lorempixel.com/c/200/200/people/" alt="" class="img-circle">
		<h3>Pierre</h3>
	</li>
	<li>
		<img src="http://lorempixel.com/c/200/200/people/" alt="" class="img-circle">
		<h3>Dick</h3>
	</li>
</ul>
</div>